*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url('https://www.shutterstock.com/image-vector/pixel-art-game-level-background-600nw-2553891639.jpg');
    background-image: no-repeat;
    background-size: cover; /* or contain */
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;

}
h1{
    color: #fff;
    position: relative;
    top: 17px;
}


.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
    font-family: "Pixelify Sans", sans-serif;


}
.box:hover{
    cursor: pointer;
    background-color: #dcdcab;

}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    font-family: "Pixelify Sans", sans-serif;

}

#reset-btn:hover{
    cursor: pointer;
    background-color: #272722;

}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    font-family: "Pixelify Sans", sans-serif;

}

#new-btn:hover{
    cursor: pointer;
    background-color: #272722;

}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container{
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide{
    display: none;
}
<!-- 2025-01-07T03:07:37+05:30 -->
<!-- 2025-01-08T05:23:37+05:30 -->
<!-- 2025-02-22T04:29:41+05:30 -->
<!-- 2025-02-26T03:09:44+05:30 -->
<!-- 2025-03-25T09:13:49+05:30 -->
<!-- 2025-04-12T09:36:53+05:30 -->
<!-- 2025-05-13T01:20:03+05:30 -->
<!-- 2025-05-29T09:05:07+05:30 -->
<!-- 2025-06-27T05:16:11+05:30 -->